<nav class="navbar navbar-dark bg-dark mb-1 mat-elevation-z10">
  <!-- <a class="navbar-brand" href="#">DigiOwner</a> -->
  <img src="assets/digiowner_log.png" alt="" />
  <div style="color: white;">
    Contact No. : 9302185966 <br />
    Email Id: sales@digiowner.com
  </div>
</nav>
<iframe
  [src]="'https://kushpranjale.github.io/?product=' + product | safe_url"
></iframe>
<div class="container text-center">
  <p style="font-size: x-large;">50 B ashish nagar, Indore</p>
  <table class="table">
    <tr>
      <th>Price</th>
      <td>1600</td>
    </tr>
    <tr>
      <th>Floor Size</th>
      <td>750 sqft</td>
    </tr>
    <tr>
      <th>Beds</th>
      <td>3</td>
    </tr>
    <tr>
      <th>Bath</th>
      <td>3</td>
    </tr>
    <tr>
      <th>Year Built</th>
      <td>2011</td>
    </tr>
  </table>
</div>

<section id="footer">
  <div class="container">
    <div class="row">
      <hr />
    </div>
    <div class="row">
      <div
        class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white"
      >
        <p class="h6">
          © 2020 DigiOwner. All Rights Reserved
        </p>
      </div>
      <hr />
    </div>
  </div>
</section>
